* {
    position: absolute;
}

.name {
    font-family: "Merriweather";
    font-size: 13vw;
    font-weight: normal;
}

#elan {
    -webkit-mask-image: linear-gradient(to right, black, black 45%, transparent 50%, transparent);
    mask-image: linear-gradient(to right, black, black 45%, transparent 50%, transparent);
    -webkit-mask-size: 222.22%;
    mask-size: 222.22%;
    -webkit-mask-position: 100%;
    mask-position: 100%;
}

#space {
    opacity: 0;
    background-color: transparent;
}

#ronen {
    -webkit-mask-image: linear-gradient(to right, transparent, transparent 50%, black 55%, black);
    mask-image: linear-gradient(to right, transparent, transparent 50%, black 55%, black);
    -webkit-mask-size: 222.22%;
    mask-size: 222.22%;
    -webkit-mask-position: 0%;
    mask-position: 0%;
}

#bar {
    border-left: 0.2vw solid;
    height: 0.2vw;
}
